.dp, .dp-thumb {
  .reveal {
    div.slides {
    }

    section.present {
      min-width: 960px;
      min-height: 700px;
    }

    &:after {
      width: 960px;
      height: 700px;
      top: 0px;
      left: 0px;
      position: absolute;
      //background-color: #fdf6e3;
    }
  }

  .reveal {
    .sl-block {
      position: absolute;
    }

    .sl-block[data-block-type="iframe"] .sl-block-content iframe {
      width:100%;
      height:100%;
    }

    .sl-block[data-block-type="image"] .sl-block-content img {
      width:100%;
      height:100%;
      max-width: 100%;
      max-height: 100%;
      padding: 0px;
      margin: 0px;
      border: 0px;
    }

    .sl-block .sl-block-content .sl-block-content-preview,
    .sl-block .sl-block-overlay
    {
      position:absolute;
      width:100%;
      height:100%;
      left:0;
      top:0;
    }

    .sl-block .sl-block-content>:last-child, blockquote>:last-child {
      margin-bottom:0;
    }
  }
}

.dp-reveal {
  perspective: 400px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  &-container {
    height: 100%;
    box-shadow: #333 0px 0px 20px;
    transition: all 0.3s ease-in-out;
    opacity: 1;

    &-wait {
      transform: rotateX(8deg) scale(0.78);
      opacity: 0.7;
    }
  }


  .reveal {
    height: 100%;

    .sl-block {
      position: absolute;
    }
  }

  .slides section {
    min-width: 960px;
    min-height: 700px;
  }
}
